h1{color: rgb(0, 86, 26);
    font-style: italic;
    font-size: 50px;
  font-weight: 50px;}
table{font-size: 40px; 
  border-style: solid;
border-color: rgba(2, 54, 5, 0.349);
border-width: 6px;
}